body {
background-color:#7CD3F0;
}

.div {
  background-color: #458CA3;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  height: 100px;
  width: 200px;
  border-width: thin;
}

.three{
  background-color: #458CA3;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  height: 100px;
  width: 200px;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  border-style: dotted;
}
